<!--
Author: Ethen Spielmann IABM15c
Modul: 150
Project: First Rest-API project
File: Failed login file
-->
<html>
<head>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css_js/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css_js/mystyles.css">
    
</head>
<body>
<!-- Navigation Start -->
<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/index/">Home</a></li>
        <li><a href="/login/">Login</a></li>
        <li><a href="/register/">Register</a></li>
      </ul>
    </div>
  </nav>
<!-- Navigation End -->
<div class="valign-wrapper row login-box">
    
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
    <!-- form login start -->

    <form method="post" action="/check_login/">
      <div class="card-content">
        <span class="card-title red-text">Login Failed! Try Again</span>
        <div class="row">
          <div class="input-field col s12">
            <label for="username">Username</label>
            <input type="text" class="validate" name="username" id="username" />
          </div>
          <div class="input-field col s12">
            <label for="pass">Password </label>
            <input type="password" class="validate" name="pass" id="pass" />
          </div>
        </div>
      </div>
        
      <div class="card-action center-align">
        <!--<input type="submit" class="btn green waves-effect waves-light" value="Login">-->
          
          <button type="reset" class="btn grey waves-effect waves-light">Reset</button>
          <button type="submit" class="btn green waves-effect waves-light">Login</button>
          <br><br>
          <a href="/register/"><button type="button" href="register.html" class="btn blue waves-effect waves-light center-align">Register</button></a>
           
      </div>
    </form>
    <!-- Form login end -->
  </div>
</div>
<!-- Footer start -->
<div id="myfooter">
    <p class="footer-text">Ethen Spielmann HIABM15c | BZZ | Modul 150/254</p>
</div>
<!-- Footer End -->

    <!-- Compiled and minified JavaScript -->
    <script src="../static/css_js/materialize/js/materialize.min.js"></script>
</body>   
</html>